<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Peticiones</title>
</head>

<body class="wallbody">
	<h1 class="walltitle">Peticiones</h1>
	<div class="wallmain">
        <table class="default">
            <tr>
            <th><button>Filtros</button></th>
            <th><input name="asunto" placeholder="Asunto o referencia" type="text" size=30></th>
            <th><input type="checkbox" name="tag" value="tagson"> Tags<br></th>
            <th></th>
            <th></th>
             <th><a href="http://127.0.0.1:8000/newissue/">
            <button> + New Issue</button></a></th>
            </tr>
        </table>
    <table class="issues">
        <tr>
        <th>Tipo</th>
        <th>Gravedad</th>
        <th>Prioridad</th>
        <th>Petición</th>
        <th>Estado</th>
        <th>Modificado</th>
        <th>Asignada a</th>
        </tr>
        {% for issue in qs %}
        <tr>
        <th><p>{{ issue.getSubject }}</p></th>
        <th><p>{{ "Por hacer"  }}</p></th>
        <th><p>{{ "Por hacer" }}</p></th>
        <th><p>{{ "Por hacer" }}</p></th>
        <th><p>{{ "Por hacer" }}</p></th>
        <th><p>{{ "Por hacer" }}</p></th>
        <th><p>{{ "Por hacer" }}</p></th>
        </tr>
        {% endfor %}
    </table>
	</div>
</body>
</html>