{% extends 'baseIssue.html' %}
{% block content %}

	<h1 class="walltitle">Peticiones</h1>
<br>
	<div class="wallmain">
        <table class="default">
            <tr>
            <form method="post" name = "mostrarfiltros">
                {% csrf_token %}
                <input type="submit" name="clearfiltros" value="Clean Filters">
                {% if visible%}
                    <input type="submit" name="ocultarfiltros" value="Hide Filters">
                    <input type="submit" name="updatefiltros" value="Update Filtros">
                    <div class="from-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioInclude" checked>
                        <label class="form-check-label" for="flexRadioInclude">Include</label>
                    </div>

                    <div class="from-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioExclude">
                        <label class="form-check-label" for="flexRadioExclude">Exclude</label>
                    </div>
                {%else%}
                    <input type="submit" name="mostrarfiltros" value="Filters">
                {%endif%}

            <ul id="listafiltros"{% if not visible%}hidden{%endif%}>
                <li>
                    <select name="type" id="Type" multiple>
                         <option value="type" disabled>Type</option>
                         <option value="1">Bug</option>
                         <option value="2">Question</option>
                         <option value="3">Enchancement</option>
                     </select>
                </li>
                <li>
                    <select name="severity" id="severity" multiple>
                         <option value="severity" disabled>Severity</option>
                         <option value="1">Wishlist</option>
                         <option value="2">Minor</option>
                         <option value="3">Normal</option>
                         <option value="4">Important</option>
                         <option value="5">Critical</option>
                     </select>
                </li>

                 <li>
                    <select name="priority" id="priority" multiple>
                         <option value="priority" disabled>Priority</option>
                         <option value="1">Low</option>
                         <option value="2">Normal</option>
                         <option value="3">High</option>
                     </select>
                </li>

                <li>
                    <select name="status" id="status" multiple>
                       <option value="status" disabled>Status</option>
                       <option value="1">New</option>
                       <option value="2">In Progress </option>
                       <option value="3">Ready to Test</option>
                       <option value="4">Closed</option>
                       <option value="5">Needs Info</option>
                       <option value="6">Rejected</option>
                       <option value="7">Postponed</option>
                    </select>
                </li>

                <li>
                    <select name="assignations" id="assignations" multiple>
                        <option value="assignations" disabled> Assignations</option>
                        <option value="Unassigned"> Unassigned </option>
                            {% for user in allUsers %}
                                <option value="{{user.username}}">{{ user.username }}</option>
                            {%endfor%}
                    </select>
                </li>

                <li>
                    <select name="creator" id="creator" multiple>
                        <option value="creator" disabled>Created By</option>
                            {% for user in allUsers %}
                                <option value="{{user.username}}">{{ user.username }}</option>
                            {%endfor%}
                    </select>
                </li>
            </ul>
            </form>
            <th>
                <form method="GET">
                    <input type="text" name="r" placeholder="Asunto o referencia" type="text" size=30>
                    <button type="submit">Buscar</button>
                </form>
            </th>
            <th><input type="checkbox" name="tag" value="tagson"> Tags<br></th>
            <th></th>
            <th></th>
            <th><a href="{% url 'newIssue' %}">
            <button> + New Issue</button></a></th>
            <th><a href="{% url 'bulkIssue' %}">
            <button/home/marc/PycharmProjects/Blacklotus> + Bulk Insert</button></a></th>
            </tr>
        </table>
    <table class="issues">
        <tr>
            <th>Type</th>
            <th>
                <form method="get">
                <input type="hidden" name="sort" value="type">
                <button type="submit" name="direction" value="asc" >^</button><br>
                <button type="submit" name="direction" value="desc">v</button>
            </form>
            </th>
            <th>Severity</th>
            <th>
                <form method="get">
                <input type="hidden" name="sort" value="severity">
                <button type="submit" name="direction" value="asc">^</button><br>
                <button type="submit" name="direction" value="desc">v</button>
            </form>
            </th>
            <th>Priority</th>
            <th>
                <form method="get">
                <input type="hidden" name="sort" value="priority">
                <button type="submit" name="direction" value="asc">^</button><br>
                <button type="submit" name="direction" value="desc">v</button>
            </form>
            </th>
            <th>Issue</th>
            <th>Status</th>
            <th>
                <form method="get">
                <input type="hidden" name="sort" value="status">
                <button type="submit" name="direction" value="asc">^</button><br>
                <button type="submit" name="direction" value="desc">v</button>
            </form>
            </th>
            <th>Modified</th>
            <th>
                <form method="get">
                <input type="hidden" name="sort" value="modifieddate">
                <button type="submit" name="direction" value="asc">^</button><br>
                <button type="submit" name="direction" value="desc">v</button>
            </form>
            </th>
            <th>Assign To</th>
        </tr>
        {% for issue in qs %}
        <tr>
            <th><p>{{ issue.getType }}</p></th>
            <th></th>
            <th><p>{{ issue.getSeverity  }}</p></th>
            <th></th>
            <th><p>{{ issue.getPriority}}</p></th>
            <th></th>
            <th><a href = "{% url 'seeIssue' issue.getId%}" target = "_self"><p>{{ issue.getSubject }}
                    {%if issue.blocked%}
                        B
                    {%endif%}
                    {%if issue.deadline%}
                        D
                    {%endif%}
            </p></a></th>
            <th><p>{{ issue.getStatus }}</p></th>
            <th></th>
            <th><p>{{ issue.getEditionDate }}</p></th>
            <th></th>
                <th>
                    {%if issue.getFirstAsign%}
                        <a href = "{% url 'profile' issue.getFirstAsign%}" target = "_self">
                            <p>{{ issue.getFirstAsign }}</p>
                        </a>
                    {%endif%}
                </th>
        </tr>
        {% endfor %}
    </table>
	</div>
        <th><a href="{% url 'logout' %}">
            <button>logout</button></a></th>
{% endblock %}