<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Peticiones</title>
</head>

<body class="wallbody">
	<h1 class="walltitle">Issues</h1>
	<div class="wallmain">
        <table class="default">
            <tr>
            <th><button>Filters</button></th>
            <th><input name="asunto" placeholder="subject or reference" type="text" size=30></th>
            <th><input type="checkbox" name="tag" value="tagson"> Tags<br></th>
            <th></th>
            <th></th>
             <th><a href="{% url 'newIssue' %}">
            <button> + New Issue</button></a></th>
            </tr>
        </table>
    <table class="issues">
        <tr>
        <th>Type</th>
        <th>Severity</th>
        <th>Priority</th>
        <th>Issue</th>
        <th>Status</th>
        <th>Modified</th>
        <th>Assign To</th>
        </tr>
        {% for issue in qs %}
        <tr>
        <th><p>{{ issue.getType }}</p></th>
        <th><p>{{ issue.getSeverity  }}</p></th>
        <th><p>{{ issue.getPriority}}</p></th>
        <th><a href = "{% url 'seeIssue' issue.getId%}" target = "_self"><p>{{ issue.getSubject }}</p></a></th>
        <th><p>{{ issue.getStatus }}</p></th>
        <th><p>{{ issue.getEditionDate }}</p></th>
        <th><p>{{ issue.getCreator }}</p></th>
        </tr>
        {% endfor %}
    </table>
	</div>
</body>
</html>