{% extends 'base.html' %}
{% block content %}

    <h1 class="walltitle">Fecha de vencimiento</h1>
    <form method="post">
        {% csrf_token %}
        <label for="day">Día:</label>
        <select name="day" id="day">
            {% for day in days %}
            <option value="{{ day }}">{{ day }}</option>
            {% endfor %}
        </select><br><br>

        <label for="month">Mes:</label>
        <select name="month" id="month">
            {% for month in months %}
            <option value="{{ month }}">{{ month }}</option>
            {% endfor %}
        </select><br><br>

        <label for="year">Año:</label>
        <select name="year" id="year">
            {% for year in years %}
            <option value="{{ year }}">{{ year }}</option>
            {% endfor %}
        </select><br><br>

        <div class="wallissues">
            <h3 class="walltitle">Motivo</h3>
        <table border=0 cellpadding=2>
            <tr>
                <td><textarea name="motive" rows="10" cols="80" placeholder="Por favor, explique el motivo"></textarea></td>
                <td>
                    <table border=0 cellpadding=2></table>
            </table>
        </div>

        <input type="hidden" value="Guardar">
        <button type="submit">Guardar</button>
    </form>

{% endblock %}