{% extends 'base.html' %}
{% block content %}

	<form action="new/" method="post">
    {% csrf_token %}
	<h1 class="walltitle">Nueva petición</h1>
	<div class="wallissues">
	<table border=0 cellpadding=2>
		<tr>
			<td><input name="subject" placeholder="Subject" type="text" size=30></td>
			<td>
				<select name="status">
					<option value=1>Nueva </option>
					<option value=2>En curso</option>
					<option value=3>Lista para testear</option>
					<option value=4>Cerrada</option>
					<option value=5>Necesita Información</option>
					<option value=6>Rechazada</option>
					<option value=7>Pospuesta</option>
				</select>
			</td>
		</tr>
		<tr>
			<td><textarea name="description" rows="15" cols="30" placeholder="Por favor, añade un texto descriptivo que ayude a otros a entender mejor esta petición"></textarea></td>
			<td>
				<table border=0 cellpadding=2>
					<tr>
						<td>
							<select name  = "type">
								<option value=1>Bug</option>
								<option value=2>Preguna</option>
								<option value=3>Mejora</option>
							</select>
						</td>
					</tr>
					<tr>
						<td>
							<select name = "severity">
								<option value=1>Deseada </option>
								<option value=2>Menor</option>
								<option value=3>Normal</option>
								<option value=4>Importante</option>
								<option value=5>Crítica</option>
							</select>
						</td>
					</tr>
					<tr>
						<td>
							<select name="priority">
							<option value=1>Baja </option>
							<option value=2>Normal</option>
							<option value=3>Alta</option>
							</select></td>
					</tr>
					</table>
			<tr><td><input type="submit" name="crea" value="CREAR"></td></tr>
		</table>
	</div>
	</form>

{% endblock %}