<!DOCTYPE HTML>
<html>
<head>
<title>Black Lotus</title>
</head>
<body class="wallbody">
	<h1 class="wallnewissue">New Issue</h1>
	<div class="wallnewissue">
		<table border=0 cellpadding=2>
			<tr>
				<td>Subject:</td>
				<td><input id="tweet_author" type="text" size=70></td>
				<td />
			</tr>
			<tr>
				<td>Description:</td>
				<td><textarea id="tweet_text" rows="2" cols="70"></textarea>
				</td>
				<td><input type="submit" id="tweet_submit" value="Tweet!">
				</td>
			</tr>
		</table>
	</div>
	<br>
	<div id='tweet_list'></div>
</body>
</html>