{% extends 'baseIssue.html' %}
{% block content %}
<table class="SingleIssue">
    <tr>
        <th style="width:80%">
            <div>
                <form method="post">
                    {% csrf_token %}
                    <h1>#{{ issue.first.id }} {{ issue.first.subject }}
                        <input type="hidden" name="id" value=" {{ issue.first.id }}">
                        <button type="submit" name="EditContent" class="btn btn-primary btn-sm">Edit</button>
                        <button type="submit" class="btn btn-info btn-sm" name="previous"><</button>
                        <button type="submit" class="btn btn-info btn-sm" name="next"> ></button>
                    </h1>
                    <div class="alertbloqued" role="alert" {% if not issue.first.blocked %} hidden {%endif%}>
                        Bloqueada: {{issue.first.blockmotive}}
                    </div>
                    <b>
                        <div class="created-by">Created by
                            <a href = "{% url 'profile' issue.first.creator %}" target = "_self"> {{ issue.first.creator }}</a>
                            <div class="creatinDate">{{ issue.first.creationdate }}</div>
                            {% if issue.first.deadline %}
                            <div class="deadlineDate">Deadline: {{ issue.first.deadlinedate|date:"F j, Y" }}</div>
                            {%endif%}
                        </div>
                        <div>
                            <a><img src="{{ image_url }}" alt="Profile Image" style="width:50px;height:50px;"></a>
                        </div>
                    </b>
                </form>
            </div>
        </th>
        <th>
            <form method="post" action="{% url 'seeIssue' issue.first.id%}">
                {% csrf_token %}
                <div class="status">
                    <select name="status">
                        {% if issue.first.status == 1 %}
                        <option value=1 selected disabled>New</option>
                        {% else %}
                        <option value=1>New</option>
                        {% endif %}

                        {% if issue.first.status == 2 %}
                        <option value=2 selected disabled>In progress</option>
                        {%else%}
                        <option value=2>In progress</option>
                        {% endif %}

                        {% if issue.first.status == 3 %}
                        <option value=3 selected disabled>Ready for test</option>
                        {% else %}
                        <option value=3>Ready for test</option>
                        {% endif %}

                        {% if issue.first.status == 4 %}
                        <option value=4 disabled selected>Closed</option>
                        {% else %}
                        <option value=4>Closed</option>
                        {% endif %}

                        {% if issue.first.status == 5 %}
                        <option value=5 disabled selected>Needs info</option>
                        {% else %}
                        <option value=5>Needs info</option>
                        {% endif %}

                        {% if issue.first.status == 6 %}
                        <option value=6 disabled selected>Rejected</option>
                        {% else %}
                        <option value=6>Rejected</option>
                        {% endif %}

                        {% if issue.first.status == 7 %}
                        <option value=7 disabled selected>Postponed</option>
                        {% else %}
                        <option value=7>Postponed</option>
                        {% endif %}

                    </select>

                    <br> <a>Type: </a>
                    <select name="type">
                        {% if issue.first.type == 1 %}
                        <option value=1 selected disabled>Bug</option>
                        {% else %}
                        <option value=1>Bug</option>
                        {% endif %}

                        {% if issue.first.type == 2 %}
                        <option value=2 selected disabled>Question</option>
                        {%else%}
                        <option value=2>Question</option>
                        {% endif %}

                        {% if issue.first.type == 3 %}
                        <option value=3 selected disabled>Disabled</option>
                        {% else %}
                        <option value=3>Disabled</option>
                        {% endif %}
                    </select>

                    <br> <a>Severity: </a>
                    <select name="severity">
                        {% if issue.first.severity == 1 %}
                        <option value=1 selected disabled>Whishlist</option>
                        {% else %}
                        <option value=1>Whishlist</option>
                        {% endif %}

                        {% if issue.first.severity == 2 %}
                        <option value=2 selected disabled>Minor</option>
                        {%else%}
                        <option value=2>Minor</option>
                        {% endif %}

                        {% if issue.first.severity == 3 %}
                        <option value=3 selected disabled>Normal</option>
                        {% else %}
                        <option value=3>Normal</option>
                        {% endif %}

                        {% if issue.first.severity == 4 %}
                        <option value=4 disabled selected>Important</option>
                        {% else %}
                        <option value=4>Important</option>
                        {% endif %}

                        {% if issue.first.severity == 5 %}
                        <option value=5 disabled selected>Critical</option>
                        {% else %}
                        <option value=5>Critical</option>
                        {% endif %}

                    </select>

                    <br> <a>Priority: </a>
                    <select name="priority">
                        {% if issue.first.priority == 1 %}
                        <option value=1 selected disabled>Low</option>
                        {% else %}
                        <option value=1>Low</option>
                        {% endif %}

                        {% if issue.first.priority == 2 %}
                        <option value=2 selected disabled>Normal</option>
                        {%else%}
                        <option value=2>Normal</option>
                        {% endif %}

                        {% if issue.first.priority == 3 %}
                        <option value=3 selected disabled>High</option>
                        {% else %}
                        <option value=3>High</option>
                        {% endif %}
                    </select><br>

                    <br>
                    <input type="hidden" name="BotonUpdateStatuses" value="Update">
                    <button type="submit" class="btn btn-primary btn-sm">Update</button>
                </div>
            </form>
        </th>
    </tr>

    <tr>
        <th>
            <br>
            <div>
                <p>Description: {{ issue.first.description }}</p>
            </div>
            <br>
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="wallissues">
                    <label>{{ documents|length }} Attachments</label>
                    <input type="file" id="archivo" name="archivo">
                    <button type="submit" class="btn btn-primary btn-sm">Upload</button>
                </div>
                <div>
                    <ul>
                        {% for document in documents %}
                        <label>
                            <input type="radio" name="option" value="{{ document }}">
                            {{ document }}
                        </label>
                        <br>
                        {% endfor %}
                    </ul>
                    <button name="Download" type="submit" class="btn btn-primary btn-sm" value="dw">Download</button>
                    <button name="Delete" type="submit" class="btn btn-primary btn-sm" value="dl">Delete</button>
                </div>
            </form>
            <br>

        </th>

        <th>
            <br>
            <form id="form2" method="post">
                {% csrf_token %}
                <div class="Asign to">
                    <br>
                    {{ form.as_p }}
                </div>
                <input type="hidden" name="BotonUpdateAsign" value="UpdateAsign">
                <button type="submit" class="btn btn-primary btn-sm">Asign</button>
            </form>

            <br>
            <div class="Assigned to">

                <p>Asigned To:</p>
                {% for us in asignedTo %}
                <p>{{ us }}</p>
                {% endfor %}
            </div>
            <br>
            <div class="Watchers">
                <br>
                <form id="form3" method="post">
                    {% csrf_token %}
                    <div class="watchers">
                        <br>
                        {{ form2.as_p }}
                    </div>
                    <br>
                    <a>Watchers: </a>
                    <br>
                    {% for us in watchers %}
                    <li>{{ us }}</li>
                    {% endfor %}
                    <br>
                    <button type="submit" name="BotonUpdateWatchers" value="add" class="btn btn-primary btn-sm">Add
                        Watcher
                    </button>
                    <button type="submit" name="BotonUpdateWatchers" value="delete" class="btn btn-danger btn-sm">Delete
                        Watcher
                    </button>
                </form>
            </div>
            <br>
            <div class="Options">
                <form method="post" name="deadlineIssues" style="display: inline-block;">
                    {% csrf_token %}
                    {% if issue.first.deadline %}
                    <input type="hidden" name="deldeadline" value="deldeadline">
                    <button type="submit" class="btn btn-danger btn-sm">Deadline</button>
                    {%else%}
                    <input type="hidden" name="deadline" value="deadline">
                    <button type="submit" class="btn btn-secondary btn-sm">Deadline</button>
                    {%endif%}
                </form>

                <form method="post" name="bloquearissues" style="display: inline-block;">
                    {% csrf_token %}
                    {% if issue.first.blocked %}
                    <input type="hidden" name="unblock" value="Unblock">
                    <button type="submit" class="btn btn-danger btn-sm"> Unblock</button>
                    {%else%}
                    <input type="hidden" name="block" value="Block">
                    <button type="submit" class="btn btn-secondary btn-sm"> Block</button>
                    {%endif%}
                </form>
                <form method="POST" style="display: inline-block;">
                    {% csrf_token %}
                    <input type="hidden" name="_method" value="DELETE">
                    <button type ="submit" name="delete" class="btn btn-danger btn-sm"> Delete</button>
                </form>
            </div>
        </th>
    </tr>

    <tr>
        <th>
            <div class="">
                <form method="post" name="cambiarCommen" style="display: inline-block;">
                    {% csrf_token %}
                    <input type="hidden" name="comments" value="Comentarios">
                    <button type="submit" name="Comment" class="btn btn-outline-primary">{{ coments|length }} Comments
                    </button>
                </form>
                <form method="post" name="cambiarAct" style="display: inline-block;">
                    {% csrf_token %}
                    <input type="hidden" name="activity" value="Actividades">
                    <button type="submit" name="Activity" class="btn btn-outline-primary"> {{ activity|length }}
                        Activities
                    </button>
                </form>
                {% if commentsOn %}
                    <div class="">
                        <form method="POST">
                            {% csrf_token %}
                            <br>
                            <input autocomplete = "off" name="comment" placeholder="Type and comment here" type="text" size=30>
                            <button type="submit" class="btn btn-primary btn-sm">Guardar</button>
                            <br><br>
                        </form>
                    </div>

                    <div class="">
                        <table>
                            {%for c in coments%}
                            <tr>
                                {% for comment_id, image_url in imagesC.items %}
                                {%if comment_id == c %}
                                <th><a><img src="{{ image_url }}" alt="Profile Image" style="width:50px;height:50px;"></a>
                                </th>
                                {%endif%}
                                {% endfor %}

                                <th><a href = "{% url 'profile' c.getCreator %}" target = "_self">{{ c.getCreator }}</a></th>
                                <th>{{ c.getCreationDate}}</th>
                            </tr>
                            <tr>
                                <th>{{ c.getMessage}}</th>
                            </tr>
                            {%endfor%}
                        </table>
                    </div>
                {%else%}
                    {% for act in activity %}
                        <div>
                            <br><p>
                            {% for activity_id, image_url in imagesA.items %}
                            {%if activity_id.id == act.id %}
                            <a><img src="{{ image_url }}" alt="Profile Image" style="width:50px;height:50px;"></a>
                            {%endif%}
                            {% endfor %}

                                <a href = "{% url 'profile' act.getUser %}">{{ act.getUser }}</a>
                                <a>{{ act.getDate }}</a></p>
                            <p>
                            <p>{{ act.getField }}</p>
                            <a>{{ act.getOld }}</a>
                            <a> > </a>
                            <a>{{ act.getChange }}</a>
                            </p>
                        </div>
                    {% endfor %}
                {%endif%}
                <br>
            </div>
        </th>
    </tr>
</table>
{% endblock %}