{% extends 'baseIssue.html' %}
{% block content %}

<table class="profile">
    <tr>
        <th style="padding-right:100px;">
            <h1><a><img src="{{ image_url }}" alt="Profile Image" style="width:250px;height:250px;"></a></h1>
            <h2>@{{ profile.get_user.username }}</h2>

            <p>{{ profile.get_user.first_name }}</p>
            <p>{{ profile.get_user.email }}</p>
            <p>{{ profile.get_bio}}</p>
            <p>
                {% if profile.get_user.username == request.user.username %}
                <a href="{% url 'editprofile' %}">
                    <button class="btn btn-primary btn-sm">EDIT PROFILE</button>
                </a>
                {% endif %}

            </p>
        </th>
        <th>
            <form method="POST" style="display: inline-block">
                {% csrf_token %}
                {% if timelineOn %}
                <input type="hidden" name="timeline" value="Timeline">
                <button type="submit" class="tab active btn btn-outline-primary">
                    Timeline
                </button>

                {% else %}
                <input type="hidden" name="timeline" value="Timeline">
                <button type="submit" class="tab btn btn-outline-primary">
                    Timeline
                </button>
                {% endif %}
            </form>

            <form method="POST" style="display: inline-block">
                {% csrf_token %}
                {% if timelineOn %}

                <input type="hidden" name="watched" value="Watched">
                <button type="submit" class="tab btn btn-outline-primary">
                    Watchers
                </button>
                {% else %}

                <input type="hidden" name="watched" value="Watched">
                <button type="submit" class="tab active btn btn-outline-primary">
                    Watchers
                </button>
                {% endif %}
            </form>


        </th>


    </tr>
    <tr>
        <th ></th>
        <th >

             <div class="tab-content">
                {% if timelineOn %}
                <div class="tab-pane active">
                    {% for act in timeline %}
                    <div>
                        <br>
                        <p>
                            <a>{{ act.getIssueChangedSubject }}</a>
                            <a>{{ act.getDate }}</a>
                            <a>{{ act.getField }}</a>
                            <a>{{ act.getOld }}</a>
                            <a> > </a>
                            <a>{{ act.getChange }}</a>
                        </p>
                    </div>
                    {% endfor %}
                </div>
                <div class="tab-pane">
                    {% for watch in watchers %}
                    <div>
                        <br>
                        <p>
                            <a>{{ watch.getSubject }}</a>
                            <a>{{ watch.getCreator }}</a>
                        </p>
                    </div>
                    {% endfor %}
                </div>
                {% else %}
                <div class="tab-pane">
                    {% for act in timeline %}
                    <div>
                        <br>
                        <p>
                            <a>{{ act.getIssueChangedSubject }}</a>
                            <a>{{ act.getDate }}</a>
                            <a>{{ act.getField }}</a>
                            <a>{{ act.getOld }}</a>
                            <a> > </a>
                            <a>{{ act.getChange }}</a>
                        </p>
                    </div>
                    {% endfor %}
                </div>
                <div class="tab-pane active">
                    {% for watch in watchers %}
                    <div>
                        <br>
                        <p>
                            <a>{{ watch.getSubject }}</a>
                            <a>{{ watch.getCreator }}</a>
                        </p>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </th>
    </tr>

</table>

{% endblock %}